<div>
    <h2 id="page-heading">
        <span>Level Dressage His</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-level-dressage-his-my-suffix" [routerLink]="['/level-dressage-his-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Level Dressage His
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="levelDressageHis">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Horse</span></th>
            <th><span>Level Dressage</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let levelDressageHis of levelDressageHis ;trackBy: trackId">
                <td><a [routerLink]="['/level-dressage-his-my-suffix', levelDressageHis.id, 'view' ]">{{levelDressageHis.id}}</a></td>
                <td>{{levelDressageHis.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="levelDressageHis.horseId">
                        <a [routerLink]="['../horse-my-suffix', levelDressageHis.horseId , 'view' ]" >{{levelDressageHis.horseId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="levelDressageHis.levelDressageId">
                        <a [routerLink]="['../level-dressage-my-suffix', levelDressageHis.levelDressageId , 'view' ]" >{{levelDressageHis.levelDressageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/level-dressage-his-my-suffix', levelDressageHis.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/level-dressage-his-my-suffix', levelDressageHis.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'level-dressage-his-my-suffix/'+ levelDressageHis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
