<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horse">
            <h2><span>Horse</span> {{horse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{horse.name}}</span>
                </dd>
                <dt><span>Birthday</span></dt>
                <dd>
                    <span>{{horse.birthday}}</span>
                </dd>
                <dt><span>Descent Father</span></dt>
                <dd>
                    <span>{{horse.descentFather}}</span>
                </dd>
                <dt><span>Descent Mother</span></dt>
                <dd>
                    <span>{{horse.descentMother}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{horse.height}}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{horse.comment}}</span>
                </dd>
                <dt><span>Stable</span></dt>
                <dd>
                    <div *ngIf="horse.stableId">
                        <a [routerLink]="['/stable-my-suffix', horse.stableId, 'view']">{{horse.stableId}}</a>
                    </div>
                </dd>
                <dt><span>Level Dressage</span></dt>
                <dd>
                    <div *ngIf="horse.levelDressageId">
                        <a [routerLink]="['/level-dressage-my-suffix', horse.levelDressageId, 'view']">{{horse.levelDressageId}}</a>
                    </div>
                </dd>
                <dt><span>Level Jumping</span></dt>
                <dd>
                    <div *ngIf="horse.levelJumpingId">
                        <a [routerLink]="['/level-jumping-my-suffix', horse.levelJumpingId, 'view']">{{horse.levelJumpingId}}</a>
                    </div>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <div *ngIf="horse.genderId">
                        <a [routerLink]="['/gender-my-suffix', horse.genderId, 'view']">{{horse.genderId}}</a>
                    </div>
                </dd>
                <dt><span>Color</span></dt>
                <dd>
                    <div *ngIf="horse.colorId">
                        <a [routerLink]="['/color-my-suffix', horse.colorId, 'view']">{{horse.colorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horse-my-suffix', horse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
