<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stable-my-suffix-heading">Create or edit a Stable</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stable.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="stable.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="stable.street" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_houseNumber">House Number</label>
                    <input type="text" class="form-control" name="houseNumber" id="field_houseNumber"
                        [(ngModel)]="stable.houseNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postalcode">Postalcode</label>
                    <input type="text" class="form-control" name="postalcode" id="field_postalcode"
                        [(ngModel)]="stable.postalcode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="stable.city" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" [(ngModel)]="stable.countryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
