<div>
    <h2 id="page-heading">
        <span>Med Checks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-med-check-my-suffix" [routerLink]="['/med-check-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Med Check
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="medChecks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Short Description</span></th>
            <th><span>Result Description</span></th>
            <th><span>Pdf</span></th>
            <th><span>Horse</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medCheck of medChecks ;trackBy: trackId">
                <td><a [routerLink]="['/med-check-my-suffix', medCheck.id, 'view' ]">{{medCheck.id}}</a></td>
                <td>{{medCheck.date | date:'mediumDate'}}</td>
                <td>{{medCheck.shortDescription}}</td>
                <td>{{medCheck.resultDescription}}</td>
                <td>
                    <a *ngIf="medCheck.pdf" (click)="openFile(medCheck.pdfContentType, medCheck.pdf)">open</a>
                    <span *ngIf="medCheck.pdf">{{medCheck.pdfContentType}}, {{byteSize(medCheck.pdf)}}</span>
                </td>
                <td>
                    <div *ngIf="medCheck.horseId">
                        <a [routerLink]="['../horse-my-suffix', medCheck.horseId , 'view' ]" >{{medCheck.horseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/med-check-my-suffix', medCheck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/med-check-my-suffix', medCheck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'med-check-my-suffix/'+ medCheck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
