<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medCheckDet">
            <h2><span>Med Check Det</span> {{medCheckDet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{medCheckDet.code}}</span>
                </dd>
                <dt><span>Result</span></dt>
                <dd>
                    <span>{{medCheckDet.result}}</span>
                </dd>
                <dt><span>Med Check</span></dt>
                <dd>
                    <div *ngIf="medCheckDet.medCheckId">
                        <a [routerLink]="['/med-check-my-suffix', medCheckDet.medCheckId, 'view']">{{medCheckDet.medCheckId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/med-check-det-my-suffix', medCheckDet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
